/* This changes all the animations globally */
:root{
    --animate-duration: 0.8s;
    --animate-delay: 0.5s;
}

.animate__animated{
    animation-duration: var(--animate-duration);
    animation-delay: var(--animate-delay);
}

/* changes border color */
@keyframes changeBorderColor {
    0% {
      border-color: rgb(255, 217, 0);
    }
    50% {
      border-color: rgb(250, 193, 6);
    }
    100% {
      border-color: rgb(217, 255, 0);
    }
  }

  @keyframes changeBorderColor1 {
    0% {
      border-color: rgb(0, 238, 255);
    }
    50% {
      border-color: rgba(18, 14, 238, 0.877);
    }
    100% {
      border-color: rgb(0, 153, 255);
    }
  }


  /* changes background color */
  @keyframes changeBackgroundColor {
    0% {
        background: yellowgreen;
    }

    50% {
        background: yellow;
    }

    100% {
        background: lime;
    }
  }