/* mobile */
@media (max-width: 600px)
{
    .header-section{
        position: fixed;
    }

    .menu-button{
        display: block;
    }

    .close-button{
        display: none;
    }

    /* navigation style */
    .navigation-links{
        position: absolute;
        left: 0;
        align-items: flex-start;
        background-color: white;
        top: 100%;
        height: 100vh;
        width: 100%;
        display: none;
    }

    .navigation-list{
       flex-direction: column;
       align-items: flex-start;
       padding: 30px;
    }

    .navigation-links .navigation-list li a{
        color: black;
        
    }

    .main-container{
        height: 100vh;
    }

    .carousel-caption{
        padding: 0;
        align-items: center;
    }

    #carouselExampleRide img{
        object-fit: cover;
        height: 100vh;
    }

    .carousel-caption h2{
        margin-top: 5%;
        font-size: 1.2rem;
    }

    .carousel-caption h3{
        font-size: 1rem;
        text-align: center;
    }

    .carousel-caption p{
        width: 300px;
        font-size: 1em;
        padding-top: 30px;
        text-align: center;
    }

    /* learn more/about us */
#about-button, #contact-button, #services-button{
    margin: 10px 0;

    /* button style */
    width: 50vw;
    letter-spacing: 1px;
    padding: 0.5rem 1rem;
    font-size: small;
}

/* about us section */
.aboutUs-content-container {
    text-align: left;
    max-width: 600px;
}

.aboutUs-content-container h4, .services-content-container h4{
    font-size: 1.5rem;
}

.aboutUs-content-container p{
    font-weight: 1rem;
}

.history-container, .mission-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    height: 100%;
}

.history-left, .mission-right{
    width: 80%;
    text-align: center;
}

.history-right, .mission-left{
    height: 50%;
    width:50%;
    border-radius: 50%;
}

.history-right img, .mission-left img {
    margin-top: 30px;
    width: 100%;
    height: 100%;
}

.history-container h4, .mission-container h4, .services-content-container h4, .projects-content-container h4{
    color: #051f3b;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 30px;
}

.history-left p, .mission-right p{
    line-height: 1.3;
    margin-bottom: 20px;
    text-align: center;
}

/* services section */
.our-services{
    grid-template-columns: repeat(1, 1fr);
}

/* projects section */
.our-projects{
    grid-template-columns: repeat(1, 1fr);
}


/* extra small devices */
@media (min-width: 481px) and (max-width: 767px)
{
     
}

/* small tablets */
@media (min-width: 768px) and (max-width: 991px)
{
    
}



