/* displays */
:root{
    --display-flex: flex;
    --display-grid: grid;

    --full-width: 100vw;
    --full-height: 100vh;
    --position-fixed: fixed;
    
    --font-size: 1rem;
    --font-style: "SUSE", sans-serif;
    --padding: 10px;

    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    --box-shadow2: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* colors */
:root{
    --primary-color: #f0f0f0;
    --secondary-color: white;
    --links-color: #6bf2fc;
    --main-color: #28577a;
    --dark-gradient: linear-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%);
    --darker-gradient: linear-gradient(rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.9) 50%);
}

/* smooth scrolling */
html{
    scroll-behavior: smooth;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #ccc;
}

/* reset default styling on the page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* page font */
body{
    font-family: var(--font-style);
    font-optical-sizing: auto;
    /* background-color: var(--primary-color); */
}

/* subtle background colour */
html, body{
    height: var(--full-width);
}

/* hide small screen buttons */
#closebtn, #hamburgerIcon{
    display: none;
}  

/* Disable scrolling */
.no-scroll {
    overflow: hidden;
}

/* font awesome icons */
.fa-solid{
    color:rgb(13, 146, 117);
}

.aboutUs-text ul li i{
    margin-right: 10px;
}

.aboutUs-text ul li{
    margin-bottom: 12px;
}

    /* header */
    .header-section{
        z-index: 1000;
        position: var(--position-fixed);
        top: 0;
        padding: var(--padding);
        display: var(--display-flex);
        align-items: center;
        justify-content: center;
        width: var(--full-width);
        height: 12vh;
        box-shadow: var(--box-shadow);
        transition: background-color 0.3s ease;
    }

    #header img{
        position: absolute;
        left: 3%;
        height: 95%;
        width: auto;
    }

    /* navigation style */
    .navigation-links{
    }

    .navigation-list{
        display: var(--display-flex);
        gap: 5em;
    }

    /* links style */
    ul li{
        list-style-type: none;
    }

    ul li a{
        color: white;
        box-sizing: border-box;
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
        transition: color 0.3s ease, border 0.3s ease;
        position: relative; /* Position relative for absolute border positioning */
        padding: 1em 5em; 
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }

    ul li a::after {
        content: ""; 
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #2f92dd;
        transform: scaleX(0); /* Initially hidden */
        transition: transform 0.3s ease; /* Smooth transition for border */
        box-sizing: border-box; /* Include border in total height */
      }

    /* links focus */
    .navigation-links .navigation-list a:active{
        
    }

    ul li a.active{
        border-bottom: 2px solid #2f92dd;
    }

    /* links hover */
    ul li a:hover{
        transition: 0.2s;
    }

    ul li a:hover::after {
        transform: scaleX(1); /* Show border on hover */
      }
  

    /* center container */
    .container{
        margin: 0 auto;
    }

    /* main section */
    .main-container{
        width: var(--full-width);
        min-height: 80vh;
        border: 2px solid black;
    }

    /* carousel slides */
    .carousel{
        width: var(--full-width);
        height: 100%;
    }

    #carouselExampleRide img{
        height: auto;
    }

    .carousel-inner{
        width: 100%;
        height: 100%;
    }

    .carousel-inner img{
        width: 100%;
        height: auto;
        filter: brightness(50%);
    }

    /* carousel slides image captions */
    .carousel-caption {   
        position: absolute;
        top: 30%;
        text-align: left; 
    }  
    
    .carousel-caption h2, h3, p{
        text-align: justify;
        font-family: var(--font-style);
        font-optical-sizing: auto;
    }

    .carousel-caption h2{
        font-weight: bold;
        font-size: 3rem;
    }

    .carousel-caption h3{
        font-size: 2rem;
    }

    .carousel-caption p{
        width: 600px;
        font-size: large;
        padding-top: 30px;
    }

    /* learn more/about us */
    #about-button, #contact-button, #services-button{
        margin-top: 30px;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        /* button style */
        background-color: #3a707c;
        color: var(--primary-color);
        font-family: var(--font-style);
        height: auto;
        width: 15vw;
        border: none;
        border-radius: 7px;
        align-items: center;
        box-shadow: var(--box-shadow);
        letter-spacing: 2px;
        padding: 1rem 2rem;
    }

    #about-button:hover, #contact-button:hover, #services-button:hover{
        background-color: transparent;
        border: 1px solid #3a707c;
    }

    /* ABOUT SECTION */
    .aboutUs-container{
        background: url(/frontend/images/welding-y50y1fzblu19d6zr.jpg);
        min-height: auto;
        padding: 10% 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .aboutUs-content-container{
        margin-left: 3%;
        width: 50%;
        color: white;
        line-height: 35px;
        font-size: 1rem;
    }

    .aboutUs-headings{
        margin-left: 6%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #aboutUs-header{
        color: rgb(13, 146, 117);
        margin-bottom: 2%;
    }
    #aboutUs-subheader{
        color: white;
        margin-bottom: 4%;
    }

    .aboutUs-container h4::after {
        content: "";
        width: 120px;
        height: 1px;
        display: inline-block;
        background: rgb(221, 54, 54);
        margin: 4px 10px;
        animation: changeBackgroundColor 2s infinite;
    }

    ul li i{
        padding: 0.8rem;
    }

    /*  team images */
    .team-images{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        color: rgb(228, 215, 215);
    }

    .team-images h5{
        font-style: italic;
        letter-spacing: 1px;
        /* font-weight: bolder; */
        /* background-color: white; */
    }

    .team-images img{
        width: 18vw;
        border-radius: 50%;
    }


/* small tablets */
@media (min-width: 768px) and (max-width: 991px)
{
    
}

/* extra small devices */
@media (min-width: 481px) and (max-width: 767px)
{
     
}

/* mobile */

