/* displays */
:root{
    --display-flex: flex;
    --display-grid: grid;

    --full-width: 100%;
    --position-fixed: fixed;
    
    --font-size: 16px;
    --font-style: "SUSE", sans-serif;
    --padding: 10px;

    --box-shadow: 0 2px 5px rgba(0, 0, 0, 08);
}

/* colors */
:root{
    --primary-color: #f0f0f0;
    --secondary-color: white;
    --links-color: #021526;
    --main-color: #28577a;
    --dark-gradient: linear-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%);
}

/* smooth scrolling */
html{
    scroll-behavior: smooth;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #ccc;
}

/* reset default styling on the page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* page font */
body{
    font-family: var(--font-style);
    font-optical-sizing: auto;
    background-color: var(--primary-color);
}

/* subtle background colour */
html, body{
    height: var(--full-width);
}

/* hide small screen buttons */
#closebtn, #hamburgerIcon{
    display: none;
}

@media (min-width: 992px)
{
    /* header */
    .header-section{
        z-index: 1;
        position: var(--position-fixed);
        top: 0;
        padding: var(--padding);
        display: var(--display-flex);
        align-items: center;
        background-color: var(--secondary-color);
        width: var(--full-width);
        height: 100px;
        box-shadow: var(--box-shadow);
    }

    header img{
        height: 90px;
        width: 100px;
        margin-left: 12%;
    }

    /* navigation style */
    .navigation-links{
        display: var(--display-flex);
        width: 60%;
        justify-content: center;
        align-items: center;
    }

    .navigation-list{
        display: var(--display-flex);
        align-items: center;
        justify-content: center;
        gap: 70px;
    }

    /* links style */
    ul li{
        list-style-type: none;
    }

    ul li a{
        text-decoration: none;
        color: var(--links-color);
        font-size: 17px;
    }

    /* links focus */
    .navigation-links .navigation-list a:active{
        border-bottom: 2px solid #28577a;
        color: #28577a;
    }

    /* links hover */
    .navigation-list li a:hover{
        transition: 0.2s;
        border-bottom: 2px solid #28577a;
        color: #28577a;
    }

    /* center container */
    .container{
        margin: 0 auto;
    }

    /* main section */
    .main-container{
        width: var(--full-width);
        height: 100%;
    }

    /* carousel slides */
    .carousel{
        width: var(--full-width);
        height: 100%;
    }

    #carouselExampleRide img{
        height: auto;
    }

    .carousel-inner{
        width: 100%;
        height: 100%;
    }

    .carousel-inner img{
        width: var(--full-width);
        height: var(--full-width);
        filter: brightness(50%);
    }

    /* carousel slides image captions */
    .carousel-caption {   
        position: absolute;
        top: 30%;
        text-align: left; 
    }  
    
    .carousel-caption h2, h3, p{
        text-align: justify;
        font-family: var(--font-style);
        font-optical-sizing: auto;
    }

    .carousel-caption h2{
        font-weight: bold;
        font-size: 3rem;
    }

    .carousel-caption h3{
        font-size: 2rem;
    }

    .carousel-caption p{
        width: 600px;
        font-size: large;
        padding-top: 30px;
    }

    /* learn more/about us */
    #about-button, #contact-button, #services-button{
        margin-top: 30px;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        /* button style */
        background-color: #3a707c;
        color: var(--primary-color);
        font-family: var(--font-style);
        height: 40px;
        width: 150px;
        border: none;
        border-radius: 7px;
        align-items: center;
        box-shadow: var(--box-shadow);
        letter-spacing: 2px;
    }

    #about-button:hover, #contact-button:hover, #services-button:hover{
        background-color: transparent;
        border: 1px solid #3a707c;
    }

}

/* small tablets */
@media (min-width: 768px) and (max-width: 991px)
{
    
}

/* extra small devices */
@media (min-width: 481px) and (max-width: 767px)
{

}

/* mobile */
@media (max-width: 480px)
{
    .header-section{
        position: fixed;
        display: flex;
        width: 100%;
        height: 16%;
        z-index: 2;
        box-shadow: var(--box-shadow);
        background-color: var(--secondary-color);
    }

    /* logo */
    .header-section img{
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);
        height: 90%;
    }

    .navigation-links{
        height: 70%;
        width: 0;
        position: var(--position-fixed);
        z-index: 1;
        top: 16%;
        left: 0;
        background-color: var(--primary-color);
        overflow-x: hidden;
        transition: 0.5s;
        box-shadow: var(--box-shadow);
    }

    .navigation-list{
        position: relative;
        top: 0;
        width: 100%;
        /* text-align: center; */
        margin-top: 30px;
    }

    .navigation-links .navigation-list a, .closebtn{
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #181717;
        display: block;
        transition: 0.3s;
    }

    .navigation-links{
        
    }

    ul li{
        list-style-type: none;
    }

    .navigation-links .navigation-list a:hover, .navigation-links .navigation-list a:focus{
        color: #28577a;
    }

    .closebtn{
        font-size: 36px;
    }

    #hamburgerIcon{
        font-size: 36px;
    }

    /* hide small screen buttons */
    #hamburgerIcon, .closebtn{
        display: block;
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translate(-50%, -50%);
    }

    .main-container{ 
        /* margin-top: 30%; */
        height: 100%;
        overflow: hidden;
    }

    /* carousel slides */
    .carousel{
        height: 100%;
    }

    .carousel-inner, .carousel-item{
        height: 100%;
        z-index: 1;
    }

    .carousel-item img{
        filter: brightness(50%);
        object-fit: cover;
        object-position: center;
        height: 100%;
    }

     /* carousel slides image captions */
    .carousel-caption{   
        height: 70%;
        text-align: center;
    }  
    
    .carousel-caption h2{
        font-weight: bolder;
        font-size: 1.3rem;
        margin-bottom: 15px;
    }

    .carousel-caption h3{
        font-size: 1rem;
        margin-bottom: 30px;
    }

    .carousel-caption p{
        font-size: 0.8rem;
        text-align: justify;
    }

    /* learn more/about us */
    #about-button, #contact-button, #services-button{
        /* button style */
        background-color: #3a707c;
        color: var(--primary-color);
        font-family: var(--font-style);
        margin-top: 40px;
        height: 35px;
        width: 100px;
        border: none;
        border-radius: 7px;
        box-shadow: var(--box-shadow);
        font-size: 13px;
    }

    #about-button:hover, #contact-button:hover, #services-button:hover{
        background-color: transparent;
        border: 1px solid #3a707c;
    }
}

